html {
    height: 100%;
    width: 100%;
}

body {
  background-image:url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  /* alternatively, use a background color, preferably one dominating in the
     profile picture
  background-color: #0b6460;
  */
}

#profile {
  position: fixed;
  width: 740px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -370px;
}

#profilepic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: right;
}

#name {
  float: right;
  padding-right: 20px;
  padding-top: 52px;
  color: white;
  font-size: 350%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#tagline {
  float: right;
  padding-right: 20px;
  padding-top: 5px;
  color: white;
  font-size: 180%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

#socialdiv {
  float: right;
  width: 420px;
  height: 40px;
  padding-right: 20px;
  padding-top: 20px;
}

#social-leftmost {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 15px;
}

#social-rightmost {
  width: 40px;
  height: 40px;
  float: left;
}

#social {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 15px;
}

#social-snapchat {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 12px;
}

#social-narrow {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 12px;
}
